@media (max-width: 375px){
    .container{
        width: 320px;
        height: 580px;
        padding-top: 20px;
    }

    .foto {
        width: 75px;
        height: 75px;
    }

    .container .titulo {
        font-size: 12px;
    }

    .container .descricao {
        font-size: 12px;
        font-weight: 400;
    }

    .container .item {
        width: 270px;
        height: 45px;
        font-size: 14px;
        margin: 15px;

    }
}