body {
    background-color: hsl(0, 0%, 8%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 1px;
    
}

.container {
    background-color: hsl(0, 0%, 12%);
    border-radius: 16px;
    width: 450px;
    height: 700px;
    color: azure;
    font-family: "Roboto", sans-serif;
    display: flex;
    padding-top: 35px;
    align-items: center;
    flex-direction: column;
    gap: 1;
    
}

img {
    width: 100%;
}

.foto {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    overflow: hidden;
    
}

.container .titulo {
    font-size: 700;
    padding-top: 35px;
    text-align: center;
}

.container .local {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    padding-top: 10px;
}

.container .descricao {
    
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 15px;
}

.container .item {
    background-color: hsl(0, 0%, 20%);
    width: 350px;
    height: 50px;
    border-radius: 10px;
    margin: 18px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
    
}

.container .item:hover {
    background-color: hsl(75, 94%, 57%) ;
    color: hsl(0, 0%, 12%);
    font-weight: 900;
    font-size: 18px;
    height: 60px;
    text-align: center;

}

